<form>
  <div>
    <label>Full Name </label>
    <input type="text" />
  </div>
  <div>
    <label>Email </label>
    <input type="email" />
  </div>
  <div>
    <label>Phone </label>
    <input type="phone" />
  </div>
  <div>
    <label>Resume </label>
    <input type="file" />
  </div>
  <div>
    <label>Photo </label>
    <input type="file" />
  </div>

  <div>
    <label>Designation </label>
    <select>
      <option value="">--Please choose Designation--</option>
      <option>IOS Developer</option>
      <option>Android Developer</option>
      <option>Web Developer</option>
    </select>
  </div>
  <div>
    <label>10 Mark </label>
    <input type="number" />
  </div>
  <div>
    <label>12 Mark </label>
    <input type="number" />
  </div>
  <div>
    <label>Degree </label>
    <input type="number" />
  </div>
  <button>Submit</button>
</form>
