<img
  class="skillsafari_logo"
  src="../../assets/skillsafari.png"
  alt="skillsafari_logo"
/>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt non
  nihil labore iusto repudiandae beatae velit laborum omnis expedita nobis quia
  accusamus, porro obcaecati, officia animi dolor, provident pariatur. Dolores
  porro laboriosam quod autem, magnam doloremque libero dolor quia non
  reiciendis voluptatibus laborum, cumque sequi veniam voluptates id. Veniam ut
  earum aperiam, quod fugiat officiis ipsa quos iusto. Natus? Consequuntur
  aliquid tenetur nobis delectus deleniti illum id ipsum illo, assumenda
  possimus minus dolorum facere commodi asperiores, distinctio non maiores quae
  similique! Commodi inventore labore iusto adipisci fugiat assumenda odio?
  Repellendus dolorem corrupti magnam repellat corporis provident illum hic vel!
  Aut eum ipsa eveniet, magni cumque excepturi omnis culpa quae non quidem
  rerum, error quasi quia accusamus, ab sed? Ex. Recusandae vel distinctio
  accusantium, totam non necessitatibus nihil voluptas illum praesentium
  reiciendis laboriosam omnis! Architecto facilis corporis sed! Vel fugiat
  explicabo numquam cupiditate dolores? Laboriosam, laudantium? Accusantium
  dolor quibusdam eligendi? Dolorum nisi architecto vitae? Natus quod quaerat
  aperiam? Nesciunt perferendis labore veniam! Soluta, neque repellat enim,
  laudantium fugiat sit, rerum numquam quasi est pariatur qui dignissimos
  aliquam non explicabo. Quibusdam. Enim possimus consectetur recusandae
  provident exercitationem culpa quasi sunt cupiditate, nulla aliquam ex debitis
  sed laboriosam dicta odio in dolores deleniti a, dolor eligendi vero mollitia
  vitae voluptatibus ipsam! Nemo. Asperiores, ducimus labore rerum impedit alias
  maxime neque error ipsam explicabo reprehenderit qui molestiae temporibus,
  animi ea. Ut vero reiciendis maiores hic? Repellendus deleniti nisi
  consectetur amet beatae dolores delectus. Vero, ipsam eveniet labore
  perferendis iure minus voluptatum eos ex. Repellat ullam quaerat tenetur
  molestias. Itaque aperiam nulla nemo exercitationem voluptate laudantium, fuga
  natus iure tempora vitae molestiae reiciendis ipsum! Iste quidem libero
  placeat dolorem, ex quae amet tenetur nostrum? Distinctio rerum aliquam, sunt
  eos eveniet fugiat quo doloremque similique fugit sequi quis sapiente
  necessitatibus alias suscipit porro commodi perferendis. Nulla, magnam
  provident ipsam iusto ad earum impedit exercitationem, a pariatur numquam cum
  dolorum ipsa recusandae! Quo qui maiores, quis cumque corporis dolorum id cum
  laboriosam quaerat? Ut, quo deleniti? Eveniet quod error fugiat voluptatibus
  commodi illum? Minus natus magnam cumque iusto nisi magni quia beatae, illum
  nobis quam dolores voluptatem harum error. Earum pariatur temporibus eos illo,
  saepe eaque. Adipisci earum, architecto omnis quaerat ad aperiam accusantium
  quo tempore natus neque eligendi esse, repellat dolorem aliquam perferendis
  atque laudantium aliquid temporibus recusandae dolorum quam corporis! Quas
  modi tempore accusamus? Sunt nulla error tempore quas. Quo rem vero soluta
  repellat quisquam nobis excepturi nam, maxime hic inventore omnis aut
  repellendus enim doloremque optio facere deleniti tenetur distinctio
  molestias, illo corporis! Vero nemo maxime dolorem necessitatibus qui ad
  accusamus enim debitis tempore similique mollitia, animi, fugiat nobis quod?
  Ipsam, dicta maxime? Alias sapiente nihil rem culpa cumque fugiat expedita
  beatae libero.
</p>

<!-- <iframe
  class="skillsafari_video"
  src="https://www.youtube.com/embed/K20tmRwP_8c"
>
</iframe> -->
