<div class="container">
  <div class="courses">
    <img src="../../assets/android.png" alt="" />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
      expedita dolor sit iusto repellat ea dicta perspiciatis dolorum
      accusantium, tenetur sed impedit dolore nemo quisquam facere possimus
      amet, nobis non.Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Reprehenderit expedita dolor sit iusto repellat ea dicta perspiciatis
      dolorum accusantium, tenetur sed impedit dolore nemo quisquam facere
      possimus amet, nobis non.
    </p>
  </div>
  <div class="courses">
    <img src="../../assets/ios.png" alt="" />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
      expedita dolor sit iusto repellat ea dicta perspiciatis dolorum
      accusantium, tenetur sed impedit dolore nemo quisquam facere possimus
      amet, nobis non.Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Reprehenderit expedita dolor sit iusto repellat ea dicta perspiciatis
      dolorum accusantium, tenetur sed impedit dolore nemo quisquam facere
      possimus amet, nobis non.
    </p>
  </div>
  <div class="courses">
    <img src="../../assets/web3.png" alt="" />
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
      expedita dolor sit iusto repellat ea dicta perspiciatis dolorum
      accusantium, tenetur sed impedit dolore nemo quisquam facere possimus
      amet, nobis non.Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Reprehenderit expedita dolor sit iusto repellat ea dicta perspiciatis
      dolorum accusantium, tenetur sed impedit dolore nemo quisquam facere
      possimus amet, nobis non.
    </p>
  </div>
</div>
