<main>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/About">About</a></li>
      <li><a href="/Service">Service</a></li>
      <li><a href="/Contact">Contact</a></li>
      <li><a href="/Recruitment">Recuritment</a></li>
    </ul>
  </nav>

  <!-- <app-home></app-home>
      <app-about></app-about>
      <app-service></app-service>
      <app-contact></app-contact>
      <app-emp-info></app-emp-info> -->
  <section>
    <router-outlet></router-outlet>
  </section>

  <footer>Copyright &copy; 2022 Skillsafari</footer>
</main>
